#top{
    background: var(--color-fonce);
    position: relative;
    width: 100%;
    padding: 10px 20px;
}
.menu_top{
    display: flex;
    justify-content: space-between;
}
#top nav ul{
    display: flex;
}
#top li{
    list-style: none;
}
#top li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 8px 12px;
    border: solid 1px var(--color-fonce);
    transition: all .3s;
}
#top li a:hover{
    transition: all .3s;
    border: solid 1px #fff;
}